<div class="about">

<p>
<%= application_name %> provides information about hundreds of thousands of vessels.
These vessels registered with the United States Coast Guard's <%= link_to 'documentation agency', 'http://www.st.nmfs.noaa.gov/st1/CoastGuard/VesselDataCaveats.html'%>.
</p>

<p>
Some vessel <%= link_to 'owners', owners_path %> have claimed their vessel on <%= application_name %>.
These owners may have accurately updated their vessel's location and information.  Also, possibly
they have set a sale price on their vessel, either through a <%= link_to 'broker', brokers_path %> or by themselves.
</p>

<h3>Disclaimer</h3>
<p>
<%= application_name %> offers the details of such vessels in good faith but cannot guarantee or warrant 
the accuracy of their information nor warrant the condition of vessels. 
You as a buyer should instruct your agents, or surveyors, to investigate such details as you desire
validated.  Vessels are offered subject to prior sale, price change, or withdrawal without notice.
</p>

<p>
Please always use good judgement and due diligence when considering the purchase of a boat; it is the 
buyer's duty to inspect a boat prior to purchase or to have it surveyed or to have a broker act on their
behalf.
</p>

<p>
<%= application_name %> does not function as a broker or seller nor are we involved in any communication 
or transaction between buyer and seller.
</p>

<h3>Get Started!</h3>
<p>
In the upper left handcorner of our maps, you'll see a <%= link_to 'search', search_path %> box and button.  
Enter any information there be it a location, manufacturer, length, name, year, or otherwise.  
<%= application_name %> will try to find vessels matching your query.
</p>

</div>
