<div class='main'>
  <%= image_tag 'logo.jpg', :alt=>'Captain Atlas' %>
  <%= link_to 'About', about_path %>
<!--  <%= link_to 'Advertising', ''#advertising_path %>
  <%= link_to 'Buyers', ''#buyers_path %>
  <%= link_to 'Brokers', ''#brokers_path %>
  <%= link_to 'Developers', '' #developers_path %>
  <%= link_to 'Researchers', '' #researchers_path %>
  <%= link_to 'Sellers', '' #sellers_path %>-->
  <span class='emphasis'><%= number_with_delimiter(Vessel.count) %> vessels</span>
</div>
