<html><head><title>Yacht Odyssey</title>
  <%= GMap.header %>
  <%= javascript_include_tag "application.js" %>

  <%= @map.to_html %>
</head><body style="margin: 0">

<%= @map.div(:width => "100%", :height => 450) %>

<div style="text-align: left; margin-left: 5px">
<table>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th>Builder</th>
    <th>Year</th>
    <th>Service</th>
    <th>Location</th>
    <th>USCG ID</th>
  </tr>

<% for listing in @vessels %>
  <tr>
    <td><%= link_to "<i>#{listing.name}</i>", vessel_path(listing) %></td>
    <td><%=h listing.length %></td>
    <td><%=h listing.builder %></td>
    <td><%=h listing.year %></td>
    <td><%=h listing.service %></td>
    <td><%=h listing.location %></td>
    <td><%=h listing.uscg_id %></td>
  </tr>
<% end %>
</table>
</div>

<%= will_paginate @vessels %>

</body></html>
