  <span class='logo'><%= image_tag 'logo.jpg', :alt=>'Captain Atlas' %></span>
  <ul class='main_list'>
  <li>
    <span class='emphasis'><%= number_with_delimiter(Vessel.count) %> power yachts, sailboats, and ships</span>
  </li>
  <li>
  <%= link_to 'About', about_path %>
  <%= link_to 'Advertisers', advertisers_path %>
  <%= link_to 'Buyers', buyers_path %>
  <%= link_to 'Brokers', '' %>
  <%= link_to 'Developers', '' %>
  <%= link_to 'Owners', '' %>
  <%= link_to 'Researchers', ''%>
  </li>
  </ul>
