  <span class='logo'><%= image_tag 'logo.jpg', :alt=>'Captain Atlas' %></span>
  <ul class='main_list'>
  <li>
    <span class='emphasis'><%= number_with_delimiter(Vessel.count) %> power yachts, sailboats, and ships</span>
  </li>
  <li>
  <%= link_to 'About', about_path %>
  <%= link_to 'Advertisers', advertisers_path %>
  <%= link_to 'Buyers', buyers_path %>
  <%= link_to 'Brokers', brokers_path %>
  <%= link_to 'Developers', developers_path %>
  <%= link_to 'Owners', owners_path %>
  <%= link_to 'Researchers', researchers_path %>
  </li>
  </ul>
