<% if @vessels.size != 0 %>
<div class='main'> 
  <% if params[:query] %>
    <%= @count %> results for "<%= h params[:query] %>"
  <% else %>
    <%= @vessels.size %> random results %>
  <% end %>
</div>
   
<div class='pagination'>
  <%= will_paginate @vessels %>
</div>

<div class='main'>
<table>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th>Builder</th>
    <th>Year</th>
    <th>Service</th>
    <th>Location</th>
    <th>USCG ID</th>
  </tr>

<% for listing in @vessels %>
  <tr>
    <td><%= link_to "<i>#{listing.name}</i>", vessel_path(listing) %></td>
    <td><%=h listing.length %></td>
    <td><%=h listing.builder %></td>
    <td><%=h listing.year %></td>
    <td><%=h listing.service %></td>
    <td><%=h listing.location %></td>
    <td><%=h listing.uscg_id %></td>
  </tr>
<% end %>
</table>
</div>

<div class='pagination'>
<%= will_paginate @vessels %>
</div>

<% else  # no results %>
  <%= help %>
<% end %>
