<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Captain Atlas<%= ": #{controller.action_name}" unless controller.action_name == 'index' %></title>
  <%= stylesheet_link_tag 'application' %>

  <%= GMap.header %>
  <%= javascript_include_tag "application" %>
  <%= @map.to_html %>

</head>
<body>
<%= @map.div %>

<%= yield  %>

</body>
</html>
